<div class="contenedor">
    <mat-card style="background: cornflowerblue;">
        <mat-card-title>Inicio de sesión</mat-card-title>
        <mat-card-subtitle>Ingresar usuario y contraseña</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <mat-form-field appearance="fill">
                                <mat-label>Usuario</mat-label>
                                <input matInput placeholder="Autor" formControlName="Username">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="fill">
                                <mat-label>Constraseña</mat-label>
                                <input matInput placeholder="Autor" formControlName="Password">
                            </mat-form-field>
                            <div *ngIf="error != ''">
                                <span style="color: red;">{{error}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="center" *ngIf="loadIsService">
                        <mat-progress-spinner diameter=50 mode="indeterminate" color="accent"></mat-progress-spinner>
                    </div>
                    <br>
                    <div class="col-md-12 col-sm-12 mt-4">
                        <div class="row">
                            <button mat-button class="buttonPrimary" (click)="validateUser()"
                                [disabled]="form.invalid">Iniciar sesión</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>