.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 250px;
} 

table {
    width: 100%;
  }

  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .buttonPrimary{
    left: 22%;
    background-color: darkseagreen;
    color:white;
  }

  .center {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}