<div class="contenedor">
    <mat-card style="background: cornflowerblue;">
        <mat-card-title>Consulta de libros</mat-card-title>
        <mat-card-subtitle>Filtros</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="form">

                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="firstName">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Apellido" formControlName="lastName">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Fecha inicio</mat-label>
                    <input matInput [matDatepicker]="startDate" name="startDate" formControlName="startDate"
                        [max]="maxDate" (dateChange)="changeStartDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Fecha fin</mat-label>
                    <input matInput [matDatepicker]="endDate" name="endDate" formControlName="endDate" [min]="minDate"
                        (dateChange)="changeEndDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>

                <button mat-button class="buttonPrimary" (click)="getBookByFilters()"
                    [disabled]="form.invalid">Consultar</button>

                <button mat-button class="buttonSecundary" (click)="loadDataInDB()">Sincronizar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<br>
<div class="center" *ngIf="loadIsService">
    <mat-progress-spinner diameter=100 
	                      mode="indeterminate"
						  color="accent">
	</mat-progress-spinner> 
</div>
<br>
<div class="contenedor" *ngIf="loadEnd">
    <mat-card style="background: cornflowerblue;">
        <mat-card-subtitle>Resultados</mat-card-subtitle>
        <div class="row">
            <div class="col-md-12" style="justify-content: center;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="background-color: cadetblue;"
                    matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let data"> {{data.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Titulo </th>
                        <td mat-cell *matCellDef="let data"> {{data.title}} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                        <td mat-cell *matCellDef="let data"> {{data.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pageCount">
                        <th mat-header-cell *matHeaderCellDef> Pagínas </th>
                        <td mat-cell *matCellDef="let data"> {{data.pageCount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="excerpt">
                        <th mat-header-cell *matHeaderCellDef> Fragmento </th>
                        <td mat-cell *matCellDef="let data"> {{data.excerpt}} </td>
                    </ng-container>
                    <ng-container matColumnDef="publishDate">
                        <th mat-header-cell *matHeaderCellDef> Fecha de publicación </th>
                        <td mat-cell *matCellDef="let data"> {{data.publishDate | date: 'd/M/yyyy'}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons aria-label="Seleccione la pagina">
                </mat-paginator>
            </div>
        </div>
    </mat-card>
</div>