mat-form-field {
    margin-right: 14px;
}

table {
    width: 100%;
  }

.example-button-row {
display: table-cell;
width: 490px;
}

.buttonPrimary{
    background-color: darkseagreen;
    color:white;
    margin-right: 3px !important;
}

.buttonSecundary{
    background-color: darkcyan;
    color:white;
    margin-left: 3px !important;
}

.paddingButtonEspecial{
margin-top: 67px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}